In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [46]:
df = pd.read_excel('./data/Stammdaten_Verkehrsdetektion_2022_07_20.xlsx')

In [47]:
y2, x2 = 52.51361000, 13.41883000 # Berlin Mitte
coordinates = df[['x', 'y', 'DET_ID15']]
unique_coordinates = coordinates.drop_duplicates(subset=['x', 'y'])
lower_bound = (52.400149, 13.066275)
upper_bound = (52.644374, 13.793748)
np.random.seed(1)
a = np.array(unique_coordinates)
np.random.shuffle(a)
for i, coor in enumerate(a):
    if i > 82:
        break
    print(coor[1], ',', coor[0], ',', int(coor[2]), ',', '#0000FF')
unique_coordinates

52.4958355 , 13.39198682 , 100101010074636 , #0000FF
52.556345 , 13.38465351 , 100101010059781 , #0000FF
52.52968075 , 13.380063 , 100101010092117 , #0000FF
52.46693437 , 13.43174118 , 100101010057256 , #0000FF
52.51632946 , 13.35315131 , 100101010024924 , #0000FF
52.5638381 , 13.49795128 , 100101010041088 , #0000FF
52.50226895 , 13.37653367 , 100101010053014 , #0000FF
52.55868034 , 13.42843082 , 100101010061094 , #0000FF
52.48852827 , 13.33090982 , 100101010042102 , #0000FF
52.53473797 , 13.27843124 , 100101010016739 , #0000FF
52.50943202 , 13.37580403 , 100101010093834 , #0000FF
52.51276325 , 13.40379339 , 100101010064633 , #0000FF
52.42469401 , 13.48488437 , 100101010002995 , #0000FF
52.49972987 , 13.26860923 , 100101010032705 , #0000FF
52.5709315 , 13.443013 , 100101010019567 , #0000FF
52.55962242 , 13.55581247 , 100101010039977 , #0000FF
52.52072021 , 13.27987593 , 100101010035331 , #0000FF
52.5107973 , 13.31448025 , 100101010073727 , #0000FF
52.51427863 , 13.46984019 , 100101010068774 , #0000FF
52.55742884 , 13.38528412 , 100101010059983 , #0000FF
52.52985745 , 13.42546565 , 100101010034119 , #0000FF
52.42470935 , 13.48491532 , 100101010002894 , #0000FF
52.57461381 , 13.42952123 , 100101010004312 , #0000FF
52.53022326 , 13.38161501 , 100101010091410 , #0000FF
52.52588636 , 13.41883615 , 100101010082013 , #0000FF
52.56965869 , 13.47923485 , 100101010009766 , #0000FF
52.53433232 , 13.19084803 , 100101010041795 , #0000FF
52.53136172 , 13.38708894 , 100101010093329 , #0000FF
52.50937395 , 13.41525702 , 100101010060892 , #0000FF
52.53662504 , 13.56759685 , 100101010035634 , #0000FF
52.52086178 , 13.40598689 , 100101010081407 , #0000FF
52.45779423 , 13.38397042 , 100101010097672 , #0000FF
52.52148393 , 13.26067151 , 100101010044324 , #0000FF
52.52468009 , 13.44905176 , 100101010027449 , #0000FF
52.45321939 , 13.56893846 , 100101010020274 , #0000FF
52.51105832 , 13.40004359 , 100101010031590 , #0000FF
52.50645595 , 13.3117845 , 100101010056044 , #0000FF
52.51502877 , 13.39370072 , 100101010064128 , #0000FF
52.45854208 , 13.47857886 , 100101010054832 , #0000FF
52.43374142 , 13.25988057 , 100101010001278 , #0000FF
52.57754524 , 13.34778595 , 100101010004110 , #0000FF
52.58629742 , 13.3229274 , 100101010028459 , #0000FF
52.50108644 , 13.44361973 , 100101010085851 , #0000FF
52.5710173 , 13.44302276 , 100101010019466 , #0000FF
52.52856521 , 13.39407236 , 100101010030681 , #0000FF
52.53136593 , 13.29530732 , 100101010043314 , #0000FF
52.5138908 , 13.34206363 , 100101010015022 , #0000FF
52.51593484 , 13.34656354 , 100101010059478 , #0000FF
52.53779361 , 13.36151697 , 100101010061805 , #0000FF
52.4481454 , 13.43566751 , 100101010019365 , #0000FF
52.49392407 , 13.36320149 , 100101010022803 , #0000FF
52.43614059 , 13.37926717 , 100101010001884 , #0000FF
52.51056827 , 13.32383634 , 100101010014113 , #0000FF
52.50081566 , 13.44342765 , 100101010085649 , #0000FF
52.56719919 , 13.32917518 , 100101010013709 , #0000FF
52.45743978 , 13.38419618 , 100101010097874 , #0000FF
52.5085314 , 13.30218315 , 100101010099894 , #0000FF
52.427418 , 13.54854903 , 100101010074131 , #0000FF
52.52445577 , 13.36277811 , 100101010063421 , #0000FF
52.50655142 , 13.38822273 , 100101010065946 , #0000FF
52.48869456 , 13.35858176 , 100101010022294 , #0000FF
52.51197936 , 13.35081659 , 100101010036240 , #0000FF
52.50647774 , 13.28705429 , 100101010080494 , #0000FF
52.52369576 , 13.35540245 , 100101010081306 , #0000FF
52.48399008 , 13.46907899 , 100101010012796 , #0000FF
52.54012442 , 13.39447189 , 100101010057862 , #0000FF
52.53761039 , 13.22551345 , 100101010016234 , #0000FF
52.49628942 , 13.3925616 , 100101010074838 , #0000FF
52.49261394 , 13.34531026 , 100101010061300 , #0000FF
52.55340292 , 13.41965097 , 100101010079686 , #0000FF
52.42771718 , 13.55284911 , 100101010004918 , #0000FF
52.45218494 , 13.41975725 , 100101010003302 , #0000FF
52.51029773 , 13.38873502 , 100101010062815 , #0000FF
52.5055733 , 13.3696211 , 100101010053317 , #0000FF
52.507086 , 13.36905504 , 100101010015426 , #0000FF
52.46045235 , 13.37674329 , 100101010097066 , #0000FF
52.46066301 , 13.37644429 , 100101010096864 , #0000FF
52.49169414 , 13.34483178 , 100101010083427 , #0000FF
52.50034221 , 13.34442798 , 100101010076959 , #0000FF
52.50797094 , 13.36914302 , 100101010094036 , #0000FF
52.48081582 , 13.34726666 , 100101010095248 , #0000FF
52.52770386 , 13.34321619 , 100101010043718 , #0000FF
52.47682214 , 13.38587442 , 100101010079484 , #0000FF

             x          y         DET_ID15
0    13.192578  52.433868  100101010000167
2    13.192747  52.433813  100101010000369
4    13.261301  52.436642  100101010000874
6    13.263106  52.435112  100101010001076
8    13.259881  52.433741  100101010001278
..         ...        ...              ...
572  13.385776  52.467462  100101010097470
574  13.383970  52.457794  100101010097672
576  13.384196  52.457440  100101010097874
578  13.301719  52.509232  100101010099692
580  13.302183  52.508531  100101010099894

[284 rows x 3 columns]